/***
                    Fixed intro
                                            ***/
#language {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    width: 6%;
    height: 4%;
    padding-top: 1%;

    display: none;
    transform: translateX(-100%);
    
    font-size: 120%;
    
}

#laFrancais {
    padding-right: 9%;
}

/***
                    Intro
                                            ***/

#intro {
    position: relative;
    width:100%;
    height: 100vh;

    display:flex;
    min-height: 560px;
    margin-bottom: 2px;
    opacity: 0;
    overflow: hidden;
    
}

#inImg {
    width: 100%;
    margin: auto;

    vertical-align: middle;
}

#inEmail {
    position: absolute;
    top: 432px;
    right: 0;
    bottom: 0;
    left: 606px;
    
    font-size: 29px;
}

#inEmLink {
    text-decoration: underline;
    color: blue;
}