/***
                    Intro
                                            ***/

#intro {
    width:100%;
    height: 100vh;
    position: relative;

    min-height: 560px;
    display:flex;
    opacity: 0;
    margin-bottom: 2px;
    overflow: hidden;
}

#inBackground {
    width: 100%;
    height: 100%;
}

#inLogoContainer {
    position: absolute;
    top: 2%;
    right: 0;
    bottom: 0;
    left: 40%;
    width: 20%;
    height: 15%;
}

#inCoLogo {
    width: 100%;
}

#inText {
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 40%;

    display: flex;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 150%;
    font-size: 230%;
    font-weight: normal;
    letter-spacing: -1px;
}
/***
                    Fixed Intro
                                            ***/
#language {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    
    transform: translateX(-100%);
    height: 4%;
    width: 6%;
    font-size: 120%;
    padding-top: 1%;
}

#laFrancais {
    padding-right: 9%;
}
#instagram {
    z-index: 98;
    position: fixed;
    top: 98vh;
    right: 0px;
    bottom: 0px;
    left: 88vw;
    width: 4vw;
    height: 8vh;

    display: none;
    transform: translateY(-100%);
}

#inLogo {
    width: 100%;
}

#newsletter {
    z-index: 98;
    position: fixed;
    top: 98vh;
    right: 0px;
    bottom: 0px;
    left: 97vw;
    width: 3.8vw;
    height: 8vh;

    display: none;
    transform: translate(-100%, -100%);
}

#neLogo {
    width: 100%;
}
/***
                    Main Content
                                            ***/
#content {
    display:none;
    margin-top: -2px;
}
/***
                    Big Menu
                                            ***/
#bigMenu{
    display:flex;
}

#line1{
    width: 50%;

    display:flex;

    flex-flow: column;
}

#line2{
    width: 50%;

    display:flex;

    flex-flow: column;
    
}

.bgMeCells {
    position: relative;
}

#bgMeCell1 {
    height: 18%;
}

#bgMeCell2 {
    height: 28%;
}

#bgMeCell3 {
    height: 28%;
}

#bgMeCell4 {
    height: 26%;
}

#bgMeCell5 {
    height: 27%;
}

#bgMeCell6 {
    height: 29%;
}

#bgMeCell7 {
    height: 17%;
}

#bgMeCell8 {
    height: 27%;
}

.bgMeCeLink {
    height:100%;
}

.imgMenu {
    width:100%;
    height:100%;

    vertical-align: text-bottom;
}

.bgMeCeHoover {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.bgMeCeHoTextBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: auto;
    
    transform: translate(-50%, -50%);

    text-align: center;
}

.bgMeCeHoTeTitle {
    margin: 0px 0px 0px 0px;

    font-family: "monarcha" !important;
    color: rgb(49,64,69);
    font-size: 300%;
}




/*

#flex{
    border: 4px solid black;
    height: 300px;
}

#b1{
    border: 4px solid red;
    height: 50px;
    width: 60px;
}

#b2{
    border: 4px solid yellow;
    height: 50px;
    width: 60px;
}

#b3{                                        TEST FLEX
    border: 4px solid purple;
    height: 50px;
    width: 60px;
}

#b4{
    border: 4px solid green;
    height: 50px;
    width: 60px;
}*/