/***
                    Fixed intro
                                            ***/
#language {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    height: 4%;
    width: 6%;
    padding-top: 1%;

    display: none;
    transform: translateX(-100%);
    font-size: 120%;
}

#laFrancais {
    padding-right: 9%;
}

/***
                    Intro
                                            ***/

#intro {
    position: relative;
    width:100%;

    display:flex;
    opacity: 0;
}

#inImg {
    width: 100%;
    height: 100vh;
}

#inLogoContainer {
    position: absolute;
    top: 3%;
    right: 0;
    bottom: 0;
    left: 40%;
    width: 20%;
    height: 15%;
}

#inCoLogo {
    width: 100%;
}

#inText {
    position: absolute;
    top: 45%;
    right: 0;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 30%;

    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 150%;
    font-size: 230%;
    font-weight: normal;
    letter-spacing: -1px;
}