/***
                    Fixed intro
                                            ***/
#language {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    transform: translateX(-100%);
    height: 4%;
    width: 6%;
    font-size: 120%;
    padding-top: 1%;
}

#laFrancais {
    padding-right: 9%;
}

/***
                    Intro
                                            ***/

#intro {
    position: relative;
    width:100%;
    display:block;
    opacity: 0;
}

#inImg {
    width: 100%;
    height: 100vh;
}

#inLogo {
    width: 20%;
    height: 15%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    background-color: white;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 40px;
}

#inContent {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    background-color: transparent;
    font-weight: bold;
    font-size: 30px;
    opacity: 1;
}

#inCoTitle {
    text-align: center;
}

#inCoPhrase {
    display: table;
    margin: 0 auto;
    text-align: center;
}

#CoPhText {
    line-height: initial;
}