/***
                    General
                                            ***/
body {
    font-family: "Big Caslon", "Book Antiqua", "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #696969;
    width: 100%;
    min-width: 1000px;
}

a {
    text-decoration: none;
    color: inherit;
}

/***
                    Small Menu
                                            ***/

#smIcon {
    height: 79px;
}

#smallMenu {
    position: fixed;
    top: 6px;
    left: 14px;
    z-index: 100;
    display: none;
}

#smBox {
    position: fixed;
    z-index: 99;
    width: 0;
    min-height: 400px;
    height: 100vh;

    background: rgb(0,0,0);
    background: rgba(0,0,0, .8);
    font-size: 160%;
    color: white;

    transition: width 1s cubic-bezier(.7,.35,.46,1.49) 0s;
}

#smBoLinksBox {
    opacity: 0;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.5s linear;
}

.BoLiLinkWraper {
    text-align: center;
    padding: 7% 0px 7% 0px;
}

.LiLiLink {

}

.LiLiLink:hover {
    margin-left: 10px;
    transition: margin-left .5s;
}