/***
                    Fixed intro
                                            ***/
#language {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    width: 6%;
    height: 4%;
    padding-top: 1%;

    display: none;
    transform: translateX(-100%);

    font-size: 120%;
}

#laFrancais {
    padding-right: 9%;
}

/***
                    Intro
                                            ***/

#intro {
    width:100%;
    height: 100%;
    
    min-height: 560px;
    margin-bottom: 2px;
    opacity: 0;
    overflow: hidden;
}
/*
#inImg {
    width: 100%;
    margin: auto;
    vertical-align: middle;
}
*/
#inPart1 {
    position: relative;

    display: flex;
}

#inP1Img {
    width: 100%;
}

#inP1LogoContainer {
    position: absolute;
    top: 3%;
    right: 0;
    bottom: 0;
    left: 40%;
    width: 20%;
    height: 15%;
}

#P1CoLogo {
    width: 100%;
}

#inP1DiagramContainer {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 10%;
    width: 80%;
}

#P1CoDiagram {
    width: 100%;
}

.P1CoTitle {
    position: absolute;
    width: 25%;
    height: 25%;
    right: 0;
    bottom: 0;

    text-align: center;
}

#P1CoTitle1 {
    top: 0;
    left: 0;
}

#P1CoTitle2 {
    top: 0;
    left: 0;
}

#P1CoTitle3 {
    top: 0;
    left: 0;
}

#P1CoTitle4 {
    top: 0;
    left: 0;
}

#P1CoTitle5 {
    top: 0;
    left: 0;
}

#inPart2 {
    position: relative;

    display: flex;
}

#inP2Img {
    width: 100%;
}

#inP2DiagramContainer {

}

#inP2CoDiagram {

}
/***
                    Content
                                            ***/